/*	################################################################

	Author: Carlos Alvarez
	URL: http://alvarez.is

	Project Name: SOLID - Bootstrap 3 Theme
	Version: 1.0
	URL: http://alvarez.is

################################################################# */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
    padding: 0px;
}

body {
    background: #f7f7f7;
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Open Sans', serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

.pad-top {
    padding-top: 30px;
}

.pad-side {
    padding-left: 20px;
    padding-right: 20px;
}

.simple-list {
    padding-left: 35px;
}

.simple-list li {
    text-align: left;
}

#btn_support {
    margin-bottom: -30px;
    margin-top: 20px;
}

.support-list li {
    list-style: none;
    alignment-baseline: middle;
}

.support_img {
    height: auto;
    width: auto;

}

.pad-top {
    padding-top: 30px;
}

.support-list li {
    list-style: none;
    alignment-baseline: middle;
}

.support_img {
    height: auto;
    width: auto;

}

img {
    height: auto;
    max-width: 100%;
}

#rest-info {
    font-size: 20px;
    color: white;
    font-family: Comfortaa, serif;
    line-height: 28px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear;
    transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #01b2fe;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #3A539B;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #3A539B;
}

.centered {
    text-align: center
}

.mt-min {
    margin-top: 25px;
}

.important {
    text-align: center;
    padding: 5em 100px;
    background-color: #3A539B;
}

.important1 {
    text-align: center;
    padding: 8em 100px 5em;
    background-color: #3A539B;
}

.wt {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
    height: 42px;
    margin-bottom: 0px;
}

.navbar-brand {

    font-family: 'Comfortaa', cursive;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    font-size: 16px !important;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #1F3A93;
    border-color: transparent;
}

.links li {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.big-text {
    font-size: 18px;
    line-height: 28px;
}

.dropdown-menu {
    background: #3A539B;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn-theme {
    color: #fff;
    font-size: 20px;
    background-color: #5C6BC0;
    border-color: transparent;
    margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #4183D7;
}

.dmbutton:hover,
.dmbutton:active,
.link-btn:hover,
.link-btn:active,
.link-btn:focus,
.dmbutton:focus {
    color: #ffffff;
    background-color: #3A539B;
    border-color: #ffffff;
}

.dmbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 80px;
}

#tez_inf {
    font-size: 20px;
    line-height: 25px;
}

#reg_info {
    font-size: 27px;
    line-height: 47px;
}

.hline {
    border-top: 1px dashed #8c8b8b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hline-w {
    border-top: 1px dashed #ffffff;
    margin-bottom: 25px;
}

/*	################################################################
	SITE WRAPS
################################################################# */
.info {
    line-height: 24px;

}

.gray-bg {
    background-color: #f7f7f7;
}

.to-next {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#headerwrap {
    background-color: #1F3A93;
    min-height: 350px;
    padding-top: 50px;
    padding-bottom: 0px;
}

#headerwrap h3, h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h2 {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 34px;
    margin-bottom: 20px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}

#headerwrap .img-logo {
    margin-top: 20px;
    width: 230px;
    height: 230px;
}

#headerwrap .kpfu {
    width: 255px;
    height: 200px;
}

/* Services Wrap */
#service {
    margin-top: 100px;
    margin-bottom: 80px;
}

#service i {
    color: #00b3fe;
    font-size: 58px;
    padding: 15px;
}

/* Portfolio Wrap */
#portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
}

#portfoliowrap h3 {
    margin-bottom: 25px;
}

.portfolio {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
}

.portfolio-item .title:before {
    border-radius: 0;
    display: none
}

.portfolio-item p {
    margin: 0px 0 30px;
}

.portfolio-item h3 {
    margin: -10px 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.tpl6 h3 {
    color: #fff;
    margin: 0;
    padding: 40px 5px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 .dmbutton {
    display: inline-block;
    margin: 30px 5px 20px 5px;
    font-size: 13px;
}

.tpl6 .bg {
    height: 100%;
    width: 100%;
    background-color: #00b3fe;
    background-color: rgba(0, 179, 254, .9);
    text-align: center;
}

/* Testimonials Wrap */
#twrap {
    background: url(../img/t-back.jpg) no-repeat center top;
    margin-top: 0px;
    padding-top: 60px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
}

#twrap p {
    color: white;
    font-size: 15px;
    line-height: 30px;
}

/* clients logo */
#cwrap {
    background: #f7f7f7;
    margin-top: 20px;
}

#cwrap h3 {
    margin-bottom: 60px;
}

/* Footer */
#footerwrap {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1F3A93;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: white;
}

#footerwrap i {
    font-size: 30px;
    color: #bfc9d3;
    padding-right: 25px;
}

#footerwrap i:hover {
    color: #00b3fe
}

/*	################################################################
	PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
    background: #00b3fe;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue h3 {
    color: white;
    margin-left: 15px;
}

.ctitle {
    font-weight: 700;
    margin-bottom: 15px;
}

csmall {
    font-size: 12px;
    color: #b3b3b3;
}

csmall2 {
    font-size: 12px;
    color: #f39c12
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #00b3fe;
}

/* Contact Page */
#contactwrap {
    background: url(../img/contact.jpg) no-repeat center top;
    margin-top: -60px;
    padding-top: 0px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 400px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts {
    margin: 0px;
    padding-left: 0px;
}

.popular-posts li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;
}

.popular-posts li a,
.popular-posts li a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.popular-posts li img {
    float: left;
    margin-right: 20px;
}

.popular-posts li em {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #b3b3b3
}

.popular-posts p {
    line-height: normal;
    margin-bottom: auto;
}

.share i {
    padding-right: 15px;
    font-size: 18px;
}

.date {
    margin-top: 1em;
}

.event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}

.event-list > li > time {
    padding-top: 5px;
    display: inline-block;
    height: 60px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 18px;
}

.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}

.event-list > li > time > span {

}

.event-list > li > time > .day {
    vertical-align: middle;
}

.event-list > li > img {
    width: 100%;
}

.event-list > li > .info {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: auto;

}

.event-list > li > .info > .title {
    font-size: 14pt;
    font-weight: 700;
    margin: 0px;
}

.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    padding-left: 2px;
    padding-right: 2px;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.event-list > li > .social > ul {
    margin: 0px;
}

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}

.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}

.event-list > li > .social > ul > li {
    padding: 0px;
}

.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}

.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

.news {
    padding-left: 2em;
}

.btn-blog {
    float: right;
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius: 0;
    margin-bottom: 10px
}

.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color: #34ca78;
    border-color: #34ca78;

}

.post {
    background-color: #FAFAFA;
    margin-bottom: 3em;
    min-height: 400px;
    border-radius: 5px;
    border-color: black;
    padding: 3em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#footerwrap a {
    color: #bfc9d3;
}

#footerwrap a:hover,
#footerwrap a:focus {
    text-decoration: none;
    color: #01b2fe;
}

.header-title {
    padding-left: 2em;
}

.photos {
    padding-bottom: 3em;

}

.pages a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pages a:hover:not(.active) {
    background-color: #ddd;
}

.endless_page_current {
    color: #3276b1;
    padding: 8px 16px;
    text-decoration: none;
}

.paddinglr {
    padding-left: 3em;
    padding-right: 3em;
}

.sponsors {
    padding-bottom: 3em;
    padding-top: 3em;
}

a.cs-readmore-btn {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #2C3E50;
}

a.cs-readmore-btn:hover {
    color: grey;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.table > thead > tr > th {
    vertical-align: middle;
    font-weight: bold;
    background-color: #446CB3;
    color: whitesmoke;
}

.table > tbody > tr > td {
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
}

.table-image {
    width: 100%;

}

.link-btn {
    background: #1F3A93;
    border: 1px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 2px;
    width: 100%;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.member:hover {
    cursor: pointer;
    background-color: rgba(174, 168, 211, 0.3);
}

.member-img-no {
    height: 140px;
}

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}
.owl-carousel .owl-nav .owl-prev:before{
    // fa-chevron-left
    content: "\f053";
    margin-right:10px;
}
.owl-carousel .owl-nav .owl-next:after{
    //fa-chevron-right
    content: "\f054";
    margin-right:10px;
}
