<div id="footerwrap" class="paddinglr">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Адрес</h4>
                <div class="hline-w"></div>
                <p>ул. Кремлевская 18, <br> Казань, Россия, 420008 <br> kpfu.ru</p>
            </div>
            <div class="col-lg-4">
                <h4>Связаться с нами</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="https://vk.com/kazan_federal_university"><i class="fa fa-vk"></i></a>
                    <a href="https://www.facebook.com/KazanUniversity/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/kazanuniversity"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/kazanfederaluniversity/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/univertv"><i class="fa fa-youtube"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Контакты</h4>
                <div class="hline-w"></div>
                <p>
                    info.materials21@kpfu.ru <br> Тел.: +7 (843) 238 79 01<br> Факс: +7 (843) 238 79 01
                </p>
            </div>

        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div>
<! --/footerwrap -->