{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <br><br>
    <div class="container mt-min">
        <div class="post">
            {% if post.date %}
                <div class="date">
                    {{ post.date }}
                </div>
            {% endif %}
            <h1>{{ post.title }}</h1>
            <article>{{ post.text|safe|linebreaks }}</article>
            <div style='clear:both'></div>
            {% if imgs %}
                {% for img in imgs %}
                    <span><img src="{{ img }}" alt="{{ post.title }}" width="640" height="480"></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

